<div class="container" style="padding:2em">
  <div *ngIf="showContent"><iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay"
      [src]="urlBuilder()"></iframe></div>

  <button mat-button (click)="lyrics()" *ngIf="!showLyrics"><i class="fas fa-chevron-down"></i></button>
  <div class="container" *ngIf="showLyrics" [@fadeInOut]>
    <div class="row texts">
      Uh<br>
      Yeah<br>
      Oh, that's London On Da Track, run that shit back<br>
      We got London On Da Track<br>
      Swervin’<br>
      How you look so perfect on your worst days?<br>
      Double C your purses, you deserve it<br>
      Niggas in your DM, they be thirsty (Thirsty), and in person<br>
      But you're curvin'<br>
      Curvy little body, love your surface (Surface)<br>
      Yeah, I’m all on your body, make you nervous<br>
      I like the way you keep up with your earnings<br>
      Yeah, it's okay, 'cause you swervin'<br>
      I fuck you from the back and leave you turnin' (Turnin')<br>
      The type to make you feel like I'm so worth it (Worth it)<br>
      Blame my ex, that bitch, she did me dirty (Did me dirty)<br>
      Had me fall in love and then she curved me<br>
      (On God, swear to God, I don't wanna leave you, no)<br>
      New Louboutin, you would think I’m bleedin’ from my toes<br>
      Dick all inside of you, make you freeze, make you pose<br>
      I want you to get up on your knees and your toes<br>
      I see one of my enemies, they gon' freeze like they cold<br>
      I swear I ain’t no killer, but test me if you want<br>
      You don't want my adrenaline rushin', leave me alone (Leave me alone)<br>
      So much shit up on my mind, I can't think straight<br>
      All my niggas rock designer like they scream (Grrat)<br>
      Got the AP covered, diamonds with baguettes, yeah<br>
      I thought everything was right, that’s when you left, yeah<br>
      Swervin' (Swervin')<br>
      How you look so perfect on your worst days? (Worst days)<br>
      Double C your purses, you deserve it<br>
      Niggas in your DM, they be thirsty (Thirsty), and in person (Person)<br>
      But you're curvin'<br>
      Curvy little body, love your surface (Surface)<br>
      Yeah, I'm all on your body, make you nervous<br>
      I like the way you keep up with your earnings<br>
      Yeah, it's okay, 'cause you swervin'<br>
      Where these bitches at? I'm in the V with the tints<br>
      Got the FN on my body and the clip on hollow tips<br>
      Niggas say they gon' rob me and they still ain't do shit<br>
      Catch her waitin' in the lobby, and I'ma give her this dick<br>
      Man, where these niggas at? Man, where these niggas at?<br>
      We gon' pull up big bodies with the Rugers in the back<br>
      I got Rugers and the MAC's, pump leave a nigga flat<br>
      Talkin' hot, we spin the block, we gon' leave him where he at<br>
      Like, where these niggas at? Ayy, where these niggas at?<br>
      I'ma pull up in the big body with the fuckin' MAC<br>
      If the opps try to turn my song off, run it back<br>
      Used to have the pack in my long johns, now I rap<br>
      If a nigga wanna act out, got the MAC out<br>
      I ain't got no fuckin' back-up, that's a man down<br>
      I ain't got the fuckin' forty, knock his teeth out<br>
      Spin back with the Ruger, air the block out<br>
      Swervin' (Swervin')<br>
      How you look so perfect on your worst days? (Worst days)<br>
      Double C your purses, you deserve it<br>
      Niggas in your DM, they be thirsty (Thirsty), and in person (Person)<br>
      But you're curvin'<br>
      Curvy little body, love your surface (Surface)<br>
      Yeah, I'm all on your body, make you nervous<br>
      I like the way you keep up with your earnings<br>
      Yeah, it's okay, 'cause you swervin'<br>
      The way that I live my life is amazing<br>
      Back to back big bodies, no more dreams, yeah<br>
      So much shit up on my mind, I couldn't think, yeah<br>
      All my niggas rock designer like they scream, yeah<br>
      Got the AP covered, diamonds with baguettes, yeah<br>
      Say my name in your song and it's lit, yeah<br>
      Been waiting for a nigga like this, yeah<br>
      We got London On Da Track<br>
    </div>


  </div>