<div id="line"></div>
<div class="container" style="text-align: center">
  <h3>Visit Us on our FB Page</h3>
</div>
<owl-carousel *ngIf="fetched" [options]="mySlideOptions" [items]="images" [carouselClasses]="['owl-theme','owl-carousel', 'sliding']">
  <div class="item" *ngFor="let image of mySlideImages">
    <div>
      <img src={{image}} id="carousal" />
    </div>
  </div>
</owl-carousel>
<div class="container" style="text-align: center">
  <h3 class="d-none d-md-block">
    <li>Crafted with 💓 </li>
    <li><i class="fab fa-github ease-purple-text"></i></li>
    <li><i class="fab fa-instagram ease-purple-text "></i></li>
    <li><i class="fab fa-linkedin ease-purple-text "></i></li>
  </h3>

  <h3 class="d-block d-md-none">
      <li>Crafted with 💓 </li><br>
      <li style="margin-top:3em"><i class="fab fa-github ease-purple-text"></i></li>
      <li style="margin-top:3em"><i class="fab fa-instagram ease-purple-text "></i></li>
      <li style="margin-top:3em"><i class="fab fa-linkedin ease-purple-text "></i></li>
  </h3>
</div>
